.menu{
    padding: 90px 0;
    @extend %back;

    .content__title{
        text-align: center;
        padding-bottom: 50px;
    }

    &__wrapper{
        max-width: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        flex-wrap: wrap;
        gap: 45px;

    }

    &__card{
        max-width: 361px;
        width: 100%;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 53px 5px 53px 5px;

        transition: .3s;

        &:hover{
            transform: scale(107%);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }


    }

    &__card-content{
        padding: 22px 20px;
        p{
            font-size: 24px;
            line-height: 30px;
            color: #363853;
            padding-bottom: 14px;
        }

        .time-grp{
            max-width: 90%;
            @extend %display;
            font-weight: 300;
        }
    }

    .regular_btn-radius{
        padding: 6px 30px;
    }
}